obj
readMe.txt
*._*
!example-*/bin/data/.gitkeep
example-*/bin/libs
example-*/bin/example-*
omxplayer.log
omxplayer.old.log
src/.smbdelete*
example-custom-pipeline/bin/data/*.h264
/example-custom-pipeline/example-custom-pipeline.xcodeproj
